header {
  margin-top: 130px;
}

.selectrooms {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.selectrooms button {
  padding: 8px 15px;
  border: none;
  border-radius: 7px;
  background-color: darkblue;
  color: white;
  transition: 0.2s all ease;
  box-shadow: 0px 0px 8px #a4a3a3;
}

.selectrooms button:hover {
  background-color: rgb(0, 0, 185);
  box-shadow: 0px 0px 4px darkblue;
}

form {
  margin-top: 50px;
  box-shadow: 0px 0px 9px #cacaca;
  border-radius: 5px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}

::-webkit-calendar-picker-indicator {
  font-size: 20px;
  background-color: rgb(223, 223, 225);
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}

form input,
select {
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

.prices {
  display: flex;
}

.prices input {
  width: 80px;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 0;
  text-align: center;
}

label {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
form p {
  text-align: center;
}
.inputboxs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.inputboxs i {
  color: darkblue;
}

.inputbuttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  form {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  .inputboxs {
    transform: scale(0.8);
  }
}
/* cards start */

.card {
  width: 360px;
  height: 290px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 5px #bdbdbd;
}

.card-items {
  width: 100%;
  transition: 0.5s all ease;
}

.card:hover .card-items {
  transform: translateY(-70%);
}

.card .info {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
}

.info .card-text {
  margin-top: 10px;
  padding: 1px 20px;
}

.info .prices {
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  padding: 7px 25px;
  position: relative;
}

.info .prices .price {
  font-weight: 600;
  color: #75c5cf;
  font-size: 18px;
  letter-spacing: 1px;
}

.info .prices .night {
  font-size: 12px;
  position: absolute;
  top: 30px;
}

.card-body-top button {
  width: 100%;
  font-weight: bold;
  padding: 10px 0;
  border: none;
  background-color: darkblue;
  color: white;
  transition: 0.2s all ease;
}

.card-body-top button:hover {
  background-color: rgb(43, 105, 241);
}

/* cards end */
