<header >
  <div class="container mt-5">
    <div class="header-text">
      <h1>USP Section</h1>
    </div>
  </div>
</header>

<main>

</main>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
    @for (item of cards; track item) {
      <div class="col mt-5 d-flex justify-content-center">
        <div class="card">
          <div class="card-items">
            <div class="cover">
              <i ngClass={{item.icon}}></i>
            </div>
            <div class="card-body">
              <h3>{{item.title}}</h3>
              <p>{{item.desc}}</p>
              <a href="#">Read more ></a>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>