<main>
    <ng-container>
        <div class="container">
            <div class="card bg-white">
                <div class="product">
                    <table>
                        <thead>
                          <tr>
                            <th colspan="2">Hotel</th>
                                <th colspan="2">Room</th>
                                <th>Customer</th>
                                <th>Status</th>
                                <th>Check in</th>
                                <th>Check out</th>
                                <th>Total Price</th>
                                <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of table">
                                <td>
                                    <img src="https://images.trvl-media.com/lodging/16000000/15840000/15835100/15835033/41cbdcb1.jpg?impolicy=resizecrop&rw=1200&ra=fit"
                                        alt="">
                                </td>
                                <td>
                                    <p class="fw-bolder">The Biltmore Hotel Tbilisi</p>
                                    <p>Tbilisi</p>
                                </td>
                                <td><img src="https://images.trvl-media.com/lodging/16000000/15840000/15835100/15835033/41cbdcb1.jpg?impolicy=resizecrop&rw=1200&ra=fit"
                                        alt=""></td>
                                <td>
                                    <p class="fw-bolder">Club Room</p>
                                    <p>89$</p>
                                </td>
                                <td>
                                    <p class="fw-bolder">Name: {{item.customerName}}</p>
                                    <p>Phone: {{item.customerPhone}}</p>
                                </td>
                                <td>
                                    <p class="status">Booked</p>
                                </td>
                                <td>
                                    <p class="fw-bolder">{{(item.checkInDate).slice(0, -9)}}</p>
                                </td>
                                <td>
                                    <p class="fw-bolder">{{(item.checkOutDate.slice(0, -9))}}</p>
                                </td>
                                <td>
                                    <p class="fw-bolder">{{item.totalPrice | currency:"EUR":"symbol"}}</p>
                                </td>
                                <td><button class="cancelbtn">CANCEL BOOKING</button></td>
                            </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- <ng-container >
    <div class="container noCart">
            <div class="text-center">
            <img src="../../../assets/hotel-logo_10250-628.avif" alt="">
            <h6>No Booked Rooms</h6>
            <button routerLink="/rooms" class="mt-4">Book Now</button>
        </div>
    </div>
    </ng-container> -->
</main>