main {
  background-color: #242121;
  padding: 60px 20px;
  color: white;
}

main h1 {
  font-family: "Castoro Titling", serif;
  font-size: 50px;
  letter-spacing: 2px;
  font-style: italic;
  margin: 60px 0;
}

.experiences ul li {
  border-top: 2px solid white;
  display: grid;
  grid-template-columns: 1fr 2fr 2.5fr;
  grid-auto-rows: 150px;
  padding-top: 20px;
}

.experiences ul li h4:first-child {
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1px;
}

li h4 {
  font-weight: 400;
}

.experiences button {
  display: block;
  margin-left: auto;
  width: 160px;
  height: 50px;
  background-color: #f0efe1;
  border: 1px solid #242121;
  transition: 0.4s;
  cursor: pointer;
}

.experiences button:hover {
  background-color: #242121;
  color: white;
  border: #f0efe1 1px solid;
}

.expBottom .info {
  width: 50%;
}

.expBottom img {
  display: block;
  width: 55%;
  margin-left: auto;
  margin-top: 50px;
}
