

nav {
  background-color: #F0EFE1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-inline: 50px;
}

nav h2 {
  font-size: 20px;
   font-family: "Castoro Titling", serif;

}

nav .left {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 100px;
  
}

.left ul {
  display: flex;
  height: 100%;
  align-items: center;
  list-style: none;
  gap: 20px;

}

li {
  cursor: pointer;
}

nav button {
  background-color: #242121;
  color: white;
  width: 130px;
  height: 40px;
  transition: 0.6s;
  font-size: 15px;
}

nav button:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}