nav {
  height: 80px;
  padding: 0 50px;
  background-color: transparent;
 
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  backdrop-filter: blur(10px) brightness(90%);
}

.default-logo {
  width: 100px;
  height: 80px;
  border-right: 1px solid #0f0f0f5f;
  display: flex;
  align-items: center;

}

.default-logo img {
  width: 38.5px;
  height: 44px;
}
ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 50px;
  background-color: transparent !important;
}

ul li a {
  font-weight: 700;
}

.active {
  color: black !important;
  text-shadow: 0px 0px 2px black;
}

