<nav appNavScrolling>
  <div class="logo">
    <img routerLink="/" src="../../../assets/hotel-logo_10250-628.avif" alt="" />
    <h1>Hotel Booking</h1>
  </div>
  <ul>
    <li
      routerLinkActive="onActive"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
    >
      Home
    </li>
    <li routerLinkActive="onActive" routerLink="/rooms">Rooms</li>
    <li routerLinkActive="onActive" routerLink="/hotels">Hotels</li>
    <li routerLinkActive="onActive" routerLink="/bookedrooms">Bookings</li>
  </ul>
  <div class="icons">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-whatsapp"></i>
  </div>

  <i (click)="toggleNav()" class="fa-solid fa-{{isMobileNavShown ? 'x' : 'bars'}}"></i>
</nav>

<ul class="mobile {{isMobileNavShown ? 'mobileToggle' : ''}}">
  <li
    routerLinkActive="onActive"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/"
  >
    Home
  </li>
  <li routerLinkActive="onActive" routerLink="/rooms">Rooms</li>
  <li routerLinkActive="onActive" routerLink="/hotels">Hotels</li>
  <li routerLinkActive="onActive" routerLink="/bookedrooms">Bookings</li>
  <li>
    <div class="icons">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-whatsapp"></i>
    </div>
  </li>
</ul>

