<main>
    <div class="container">
        <div class="container-left">
            <div class="header-text">
                <h1>Room Details</h1>
            </div>
            <div class="maininfo">
                <h3>Table overview</h3>
                
                    <table >                  
                        <tbody>
                            <tr>                  
                                <td><p> <i class="fa-solid fa-circle-check"></i>Double Bed</p></td>
                                <td><p> <i class="fa-solid fa-circle-check"></i> Free Internet</p></td>
                                <td><p> <i class="fa-solid fa-circle-check"></i> Free Newspaper</p></td>
                              </tr>
                              <tr>                            
                                <td><p> <i class="fa-solid fa-circle-check"></i>60 square meter</p></td>
                                <td><p> <i class="fa-solid fa-circle-check"></i>Beach view</p></td>
                                <td><p> <i class="fa-solid fa-circle-check"></i> 2 persons</p></td>
                              </tr>
                              <tr>
                                
                                <td><p> <i class="fa-solid fa-circle-check"></i> Double Bed</p></td>
                                <td><p> <i class="fa-solid fa-circle-check"></i> Free Internet</p></td>
                                <td><p> <i class="fa-solid fa-circle-check"></i>Breakfast included</p></td>
                              </tr>
        
                              <tr>
                                
                                <td><p> <i class="fa-solid fa-circle-check"></i>Private Balcony</p></td>
                                <td><p> <i class="fa-solid fa-circle-check"></i> Flat Screen TV</p></td>
                                <td><p> <i class="fa-solid fa-circle-check"></i> Jacuzzi</p></td>
                              </tr>
                        </tbody>
                    </table>
                


            </div>
        </div>
        <div class="container-right">
            <div class="header-text">
                <h1>Overview</h1>
            </div>
        </div>
    </div>
</main>


<!-- <td><p> <i class="fa-solid fa-circle-check"></i>Double Bed</p></td> -->